@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #8f9dec;
    --color-secondary: #BD6EF5;
    --dark-color: #44022e;
}


/* ------------
    RESET CSS 
---------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*----------------
    BODY BASE CSS 
------------------*/
body {
    font-family: 'Anek Bangla', sans-serif;
    font-size: 18px;
    background: rgb(143,157,236);
    background: linear-gradient(163deg, rgba(143,157,236,1) 25%, rgba(189,110,245,1) 88%);
}



/*-------------------- 
CONTAINER DEFINITION 
---------------------*/
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*---------------
FIRST PAGE CSS 
---------------*/
.firstPage {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--color-secondary);
    box-shadow: 2px 3px 15px var(--dark-color);
    border-radius: 50px;
}

.firstPage.hidden {
    display: none;
}

.firstPage header {
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    box-shadow: 0px 2px 7px var(--dark-color);
    color: var(--dark-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    text-align: center;
}

.firstPage header h1 {
    font-size: 2.7em;
    font-weight: 600;
    letter-spacing: -1px;
}

.firstPage .main {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-color);
}

.firstPage .main h2 {
    font-size: 2.3em;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.firstPage .main .formFees {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 50%;
}

.firstPage .main .formFees label {
    font-size: 1.1em;
    width: 40%;
}

.firstPage .main .formFees input {
    border: none;
    width: 60%;
    padding: 5px;
    border-radius: 6px;

}

.firstPage .main .formFees select {
    padding: 5px;
    border: none;
    border-radius: 6px;
    width: 70%;
}

.firstPage .main .formFees button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    font-size: 1.7em;
    color: var(--dark-color);
    background-color: var(--color-primary);
    box-shadow: 1px 1px 10px var(--dark-color);
}

.firstPage .main .formFees button:hover{
    background-color: #9ca8f7;
}

/*---------------
SECOND PAGE CSS 
---------------*/

.secondPage{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--color-secondary);
    box-shadow: 2px 3px 15px var(--dark-color);
    border-radius: 50px;
}

.secondPage header {
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    box-shadow: 0px 2px 7px var(--dark-color);
    color: var(--dark-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    text-align: center;
}

.secondPage header h1 {
    font-size: 2.7em;
    font-weight: 600;
    letter-spacing: -1px;
}

.secondPage .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 10px 30px;
}

.secondPage .main span{
    margin:20px 0px;
    color: var(--dark-color);
    letter-spacing: 1px;
    font-weight: 400;
}

.secondPage .main .contentSecondPage{ 
    color: var(--dark-color);
    font-size: 1.4em;
    text-align: center;
}


.simulateAgain{
    padding: 20px;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--dark-color);
    border:none;
    border-radius: 10px;
    background-color: var(--color-primary);
    box-shadow: 1px 1px 10px var(--dark-color);
    margin-bottom: 30px;
    transition: transform .5s;
}

.simulateAgain:hover{
    transform: scale(1.1);
}

.secondPage.hidden {
    display: none;
}

.contentSecondPage{
    width: 50%;
}


/*--------------------------------
MEDIA QUERY TO RESPONSIVE LAYOUT
----------------------------------*/

@media(max-width: 1199px){
    .firstPage{
        width: 60%;
    }
    .secondPage{
        width: 60%;
    }
}

@media (max-width: 999px) {
    .firstPage{
        width: 65%;
    }
    .secondPage{
        width: 65%;
    }
}

@media (max-width: 999px) {
    .firstPage{
        width: 70%;
    }
    .secondPage{
        width: 70%;
    }
}

@media (max-width: 859px) {
    .firstPage{
        width: 75%;
    }
    .secondPage{
        width: 75%;
    }
}

@media (max-width: 799px) {
    .firstPage{
        width: 80%;
    }
    .secondPage{
        width: 80%;
    }
}

@media (max-width: 744px) {
    .firstPage{
        width: 85%;
    }
    .secondPage{
        width: 85%;
    }
}

@media (max-width: 695px) {
    .firstPage{
        width: 90%;
    }
    .secondPage{
        width: 90%;
    }
}

@media (max-width: 655px) {
    .firstPage{
        width: 95%;
    }
    .secondPage{
        width: 95%;
    }
}

@media (max-width: 624px) {
    .firstPage{
        width: 100%;
    }
    .secondPage{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .firstPage .formFees div{
        display: flex;
        flex-direction: column;
    }
    .secondPage{
        width: 100%;
    }
}